<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322409014015-v0s6kov9j53dcru70mfgpl3pfi31pa6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322409014015-v0s6kov9j53dcru70mfgpl3pfi31pa6m</string>
	<key>API_KEY</key>
	<string>AIzaSyC7kpcX2bGkXN3wZb8odVQPVH-lVMol18U</string>
	<key>GCM_SENDER_ID</key>
	<string>322409014015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceUsers</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-users-e5ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-users-e5ccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322409014015:ios:8d9479238a0a75062062ca</string>
</dict>
</plist>